<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>130462502963-o1mgnqu4uraergpos3hlesa7eprn77oa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.130462502963-o1mgnqu4uraergpos3hlesa7eprn77oa</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>130462502963-nqf30igsjpcln60c79ssrkprpmlqthuh.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCmezIRal4ziIKVU4N_lsg9Jx7TM1cDW0M</string>
	<key>GCM_SENDER_ID</key>
	<string>130462502963</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.alertduckapp</string>
	<key>PROJECT_ID</key>
	<string>iottecsup2021ao</string>
	<key>STORAGE_BUCKET</key>
	<string>iottecsup2021ao.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:130462502963:ios:a189d4a52d112d25679346</string>
	<key>DATABASE_URL</key>
	<string>https://iottecsup2021ao-default-rtdb.firebaseio.com</string>
</dict>
</plist>